@if (Context.User.Identity.IsAuthenticated == false)
{
    <li>
        <a class="nav-link text-dark" asp-controller="Libro" asp-action="UsuarioPerfil">Login</a>
    </li>
}
else
{
    <li>
        <a class="nav-link text-dark" asp-controller="Libro" asp-action="UsuarioPerfil">Perfil</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-controller="Libro" asp-action="Pedidos">Pedidos</a>
    </li>
    <li>
        <a class="nav-link text-danger" asp-controller="Managed" asp-action="Logout">Cerrar sesión</a>
    </li>
}